<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="../static/css/base.css">
</head>
<body>
    <div id="header">
        <hr id="v_header">
            <img src="../static/images/logo.png">
        <hr id="v_header">
        <form action="" method="post" name="search" id="header_search">
            {{ form.csrf_token }}
            <p>{{ form.search() }}</p>
        </form>
        <div id="header_links">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="blog">Blog</a></li>
            </ul>
        </div>

        {% if current_user.is_authenticated() %}

            <div id="logged_in_actions">

            </div>

        {% else %}

            <div id="not_logged_in_actions">
                <form method="link" action="signup">
                    <input type="submit" value="Sign Up">
                </form>
                <form method="link" action="login">
                    <input type="submit" value="Log In">
                </form>
            </div>

        {% endif %}

    </div>

    {% block content %}

    {% endblock %}

    <div id="footer">
        &copy 2015 Dhasharath Shrivathsa
    </div>
</body>
</html>