<html>
	<head>
		<meta charset="utf-8">
		<title>Present.ly | Login</title>
		<link rel="stylesheet" href="/static/css/login.css">
	</head>
	<body>
		<div id="login-box">
        	<h1>Log in!</h1>
                <p>
                        {{ content.loginfailure }}
                </p>
        	<form action="" method="post" name="login">
                        {{ form.hidden_tag() }}
        		<p>
        			{{ form.userid(size=80) }}
        		</p>
        		<p>
        			{{ form.password(size=80) }}
        		</p>
        		<p>
        			{{ form.rememberme }} Remember Me
        		</p>
        		<p>
        			<input type="submit" value="Log In">
        		</p>
        	</form>
        </div>
	</body>
</html>
