<html>
<head>
    <meta charset="utf-8">
    {% if content.presentation_content.firstline == "title" %}
        <link rel="stylesheet" href="/static/css/title.css">
    {% elif content.presentation_content.firstline == "subheading" %}
        <link rel="stylesheet" href="/static/css/heading.css">
    {% else %}
       <link rel="stylesheet" href="/static/css/slide.css">
    {% endif %}
    <title>{{ content.presentation_content.title|safe }}</title>
</head>
<body>
<div id="slide-title">
    {{ content.presentation_content.slidetitle|safe }}
    <img id="slide-title-image" src={{ content.imageurl|safe }}>
</div>

<hr>

<div id="slide-content">
    {{ content.presentation_content.slidecontent|safe }}
</div>

<hr>

<div id="footer">
    <! do the progress bar >
    <! as well as the mini image >

    <div id="next-slide">
        <a href={{ content.next_page_link|safe }}><img src="/static/icons/arrow_right_colored.png" border="0"
                                                       alt="Next Slide" style="opacity: .5;"></a>
    </div>
</div>
</body>
</html>
